In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('data/FRASES_PALABRAS_HARRYPOTTER.csv')
#illustrate how path reading works for CSVs

In [6]:
#check structure
df.head()

                   ENGLISH                                       SPANISH NOTE
0            Meteor shower  ¡ha caído un chaparrón de estrellas fugaces!  NaN
1                 You too!                                       ¡igual!  NaN
2  Over the past few years                A lo largo de los ultimos anos  NaN
3     Maybe his was Harvey                 A lo mejor se llamaba Harvey.  NaN
4           around him/her                                a su alrededor  NaN

https://jamesrledoux.com/code/drop_duplicates
Outlines dropping duplicates and

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 415 entries, 0 to 414
Data columns (total 3 columns):
ENGLISH    132 non-null object
SPANISH    415 non-null object
NOTE       8 non-null object
dtypes: object(3)
memory usage: 9.8+ KB

In [10]:
#Identify duplicate rows by column
#how to insert column name in my print statement?

duplicates = df[df.duplicated(['SPANISH'])]
print("Duplicate Rows based on column SPANISH are:", duplicates, sep='\n')

Duplicate Rows based on a single column are:
          ENGLISH   SPANISH NOTE
18   To be enough  Alcanzar  NaN
156      Followed   seguido  NaN

In [14]:
deduped = df.drop_duplicates('SPANISH', keep='first')
deduped.info()
#how do I remove duplicate rows optimizing for rows that don't have other values in other columns?

<class 'pandas.core.frame.DataFrame'>
Int64Index: 413 entries, 0 to 414
Data columns (total 3 columns):
ENGLISH    130 non-null object
SPANISH    413 non-null object
NOTE       8 non-null object
dtypes: object(3)
memory usage: 12.9+ KB

In [15]:
#now dataframe to CSV
#https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_csv.html
export = deduped.to_csv(r'data/CLEAN_FRASES_PALABRAS_HARRYPOTTER.csv')

In [16]:
df_check = pd.read_csv('data/CLEAN_FRASES_PALABRAS_HARRYPOTTER.csv')
df_check.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 413 entries, 0 to 412
Data columns (total 4 columns):
Unnamed: 0    413 non-null int64
ENGLISH       130 non-null object
SPANISH       413 non-null object
NOTE          8 non-null object
dtypes: int64(1), object(3)
memory usage: 13.0+ KB

In [ ]:
#next thing could be to order by single words